.modal {
    border: 1px solid rgb(216, 239, 245);
    background-color: rgb(216, 239, 245);
    color: rgb(26, 76, 89);
    padding: 10em;
    height: 10em;
    width: 10em;
    position: absolute;
    z-index: 1;
}